<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <style>
    .button {
      padding: 16px 10px;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <a class="button" href="{{url}}">Clique aqui para confirmar</a>
  </div>
</body>

</html>
