<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <style>
  </style>
</head>
<body>
<div class="wrapper">
  Your new temporary password is {{password}}
</div>
</body>

</html>
